<h1>Welcome to Thellex Beta 🎉</h1>

<p>Hi, thanks for subscribing with <b>{{email}}</b>.</p>
<p>We’re excited to have you on board. You can now download the app and start
  testing:</p>

<ul>
  <li>🔗
    <a href='{{fV1TestersLink}}' target='_blank'>Download</a></li>
</ul>

<p>We’ll keep you updated as we roll out exciting features 🚀</p>